<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ASPNETDBConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Govind\Documents\Visual Studio 2008\WebSites\new\Catering\App_Data\ASPNETDB.MDF&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
</configuration>
